body{
    background-image: url('assets/login\ application2.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div{
   padding-top: 10%; 
}
.btn.btn-success{
   padding: 5px;
   margin-top: 10px;
}
 /* form{ 
     padding: 0 3em; 
 }  */


.sentense{
    font-size: 1em;
}

.form-group2{
    padding-top: 30px;
}
